Package: jp.r-plus.bylineenhancer
Name: BylineEnhancer
Depends: mobilesubstrate, preferenceloader
Version: 0.0.10
Architecture: iphoneos-arm
Description: Enhance the Byline.app
Maintainer: r_plus
Author: r_plus
Section: Tweaks
dev: rplus
